.koty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 200px;
    }
}

.guzik {
    position: fixed;
    top: 50px;
    left: calc(50% - 100px);

    button {
        width: 200px;
        height: 160px;
    }
}
